body {
  font-size: 1.2em;
  font-family: Arial, sans-serif;
}

header h1 {
  text-align: center;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

.card-grid {
  display: grid;
  gap: 1rem;
}

.card-front,
.card-back {
  background: #ddd;
  padding: 1.5rem;
  border-radius: 12px;
}

.card-front {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.75rem;
}

.card-front label,
.card-front input {
  grid-column: 1 / -1;
}

.total {
  font-weight: bold;
}

.icon {
  text-align: right;
  font-size: 1.5rem;
}

#cardExpiration {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.card-back {
  width: 60%;
  justify-self: end;
}

input {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid black;
  background: white;
  cursor: pointer;
  justify-self: end;
}

.errors {
  white-space: pre-line;
  color: red;
}
