body {
  font-size: 1.2em;
  padding: 20px;
}
form {
  width: 50%;
  margin: 0 auto;
}
header {
  text-align: center;
}

.card-plastic {
  display: grid;
  position: relative;
  min-height: 420px;
}
/* FRONT */
.card-front {
  background: lightgray;
  padding: 25px;
  border-radius: 12px;
  width: 65%;
  z-index: 2;
  position: relative;
}
.card-front label {
  display: block;
  margin-top: 15px;
  font-size: 12px;
  font-weight: bold;
}
.card-front input {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid black;
}
.total {
  font-weight: bold;
}

.icon {
  float: right;
  font-size: 24px;
}
/* EXPIRATION */
#cardExpiration {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 15px;
}
/* BACK  */
.card-back {
  background: #d0d0d0;
  border-radius: 12px;
  width: 45%;
  padding: 20px;
  position: absolute;
  top: 120px;
  right: -20px;
  z-index: 1;
}

.card-back label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  margin-top: 40px;
}

.card-back input {
  width: 100px;
  padding: 10px;
  z-index: 3;
}
/* BUTTON */
button {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px 15px;
  border-radius: 10px;
  border: 2px solid black;
  background: white;
  cursor: pointer;
}
.errors {
  white-space: pre-line;
  color: red;
}
