header {
  font-size: 2em;
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: lightgrey;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: Roboto, sans-serif;
}
h2 {
  grid-column: 1 / 4;
  text-align: center;
  margin-top: 1rem;
}
header,
main,
footer {
  max-width: 1400px;
  margin: 1rem auto;
  border: 1px solid #fff;
  padding: 1rem;
}
header,
footer {
  background-color: #2a81e2;
  color: white;
  text-align: center;
  padding: 1rem 0;
}
h1,
h2 {
  text-align: center;
}
section img {
  display: block;
  width: 100%;
  height: auto;
  display: block;
}
section {
  padding: 8px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
nav {
  margin-top: 10px;
}
nav a {
  padding: 20px;
  color: white;
  display: none;
  margin: 0 10px;
}
nav a:hover {
  text-decoration: underline;
  color: #616061;
}
.menu-btn {
  cursor: pointer;
  border: none;
  background-color: White;
  gap: 1rem;
}
.gallery {
  display: grid;
  padding: 1rem;
  background-color: #d3d3d3;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.gallery section {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.gallery section:hover {
}
footer {
  background-color: #2a81e2;
  color: white;
  text-align: center;
  padding: 1rem;
}

@media screen and (min-width: 700px) {
  nav {
    text-align: right;
  }
  nav a {
    display: inline;
  }
  .menu-btn {
    display: none;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
