@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

header {
  font-size: 2em;
}
section img {
  display: block;
  width: 100%;
  height: auto;
  display: block;
}
section {
  padding: 8px;
  background-color: white;
  margin: 1em;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}
header {
  font-size: 2em;
  background-color: #2a81e2;
  color: white;
  text-align: center;
  padding: 1rem;
}
h1 {
  text-align: center;
  margin: 0;
}
h2 {
  grid-column: 1 / 4;
  text-align: center;
  margin-top: 1rem;
}
header,
main,
footer {
  max-width: 1400px;
  margin: 1rem auto;
  border: 1px solid #fff;
  padding: 1rem;
}
footer {
  background-color: #2a81e2;
  color: white;
  text-align: center;
  padding: 1rem;
}
.gallery {
  display: grid;
  padding: 1rem;
  background-color: #d3d3d3;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.gallery section {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
nav {
  margin-top: 10px;
}
nav a {
  padding: 20px;
  color: white;
  display: none;
  margin: 0 10px;
}
nav a:hover {
  text-decoration: underline;
  color: #616061;
}
.menu-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  display: block;
  margin: 10px auto;
}
.hide {
  display: none;
}
dialog {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
}
dialog img {
  width: 90%;
  display: block;
  margin: 20vh auto;
}
.close-viewer {
  position: absolute;
  top: 10vh;
  right: 2vh;
  padding: 3px 6px;
  font-size: 1.5em;
}

@media screen and (min-width: 700px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  nav {
    text-align: center;
  }
  nav a {
    display: inline;
    margin: 0 10px;
  }
  .menu-btn {
    display: none;
  }
  h2 {
    grid-column: 1/-1;
  }
  .hide {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
  }
  h2 {
    grid-column: 1/-1;
  }
}
