#content {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
}
.header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  font-family: "Montserrat", sans-serif;
}
.logo {
  width: 200px;
  margin-right: 20px;
}
.topnav {
  background-color: #030207;
  overflow: hidden;
  flex-grow: 1;
}
.topnav a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  background-color: #030207;
}
.topnav a:hover {
  background-color: #e3cee0;
  color: white;
}
.topnav a.active {
  color: white;
  background-color: #030207;
}
#marmol {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: 0;
}
#marmol-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#marmol-msg,
#marmol-msg h1 {
  text-align: center;
  font-size: 60px;
  line-height: 1.5em;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
  color: white;
}
#marmol-msg h4 {
  text-align: center;
  font-size: 22px;
  line-height: 1.5em;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
  color: white;
}
#marmol-img {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
a:link {
  color: #ffffff;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  background-color: #030207;
}
body {
  background-color: #f9f8f1;
  color: #353d2f;
  font-size: 22px;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.montserrat .a,
.active,
.body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 22px;
  font-style: normal;
}
.home-title {
  margin-top: 10px;
}
.icon {
  width: 80px;
  padding-top: 10px;
}
.home-title {
  font-size: 2em;
  margin-top: 10px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-family: "Montserrat", sans-serif;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  line-height: 1.5em;
  padding: 35px;
  margin: 0;
}
.join {
  background-color: rgba(33, 79, 45, 0.997);
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  margin-top: 50px;
  border-radius: 5px;
  padding: 15px 30px;
  font-family: "Montserrat", sans-serif;
}
.join:hover {
  background-color: rgb(47, 86, 51);
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  margin-top: 50px;
}
.msg p {
  background-color: #e3cee0;
  color: #353d2f;
  font-size: 0.8em;
  line-height: 1.5em;
  padding-bottom: 15px;
  font-family: "Montserrat", sans-serif;
}
.msg {
  background-color: #e3cee0;
  color: #353d2f;
  font-size: 0.8em;
  line-height: 1.5em;
  padding-bottom: 15px;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px;
  font-family: "Montserrat", sans-serif;
}
.my_resume-img {
  grid-column: 3 / 6;
  grid-row: 1 / span 4;
  justify-self: center;
  align-self: center;
  width: 100%;
  max-width: none;
  height: auto;
}
main {
  text-align: center;
  font-size: 22px;
}
main.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}
.presentation-img {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: center;
  width: 100%;
  max-width: 100%;
}
.education-img {
  grid-column: 1 / 1;
  grid-row: 3 / span 2;
  justify-self: center;
  align-self: center;
  width: 100%;
  max-width: 100%;
}
.my_resume-img {
  grid-column: 2 / span 4;
  grid-row: 1 / span 4;
  justify-self: center;
  align-self: center;
  width: 100%;
  max-width: 100%;
}

section.resume {
  grid-column: 2/4;
}
section.introduction {
  grid-column: 1/2;
}
.home-title {
  font-size: 25px;
  color: #ffffff;
  margin-top: 10px;
}
.icon {
  width: 80px;
  padding-top: 10px;
}
.msg p {
  background-color: #e3cee0;
  color: #353d2f;
  font-size: 0.8em;
  line-height: 1.5em;
  padding-bottom: 15px;
}
.msg {
  background-color: #e3cee0;
  color: #353d2f;
  font-size: 0.8em;
  line-height: 1.5em;
  padding-bottom: 15px;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #907387b3;
}
footer p,
a:hover {
  background-color: #907387b3;
  text-decoration: none;
  font-size: 1.2em;
  text-decoration: underline;
  color: white;
  text-align: left;
  padding: 25px 50px;
  margin-top: 200px;
  font-family: "Montserrat", sans-serif;
}
footer {
  background-color: black;
  font-size: 0.8em;
  text-decoration: none;
  color: white;
  text-align: left;
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
}
footer .social img {
  padding-bottom: 10px;
  margin-top: 10px;
  padding: 10px;
}
.social img {
  width: 50px;
  height: auto;
  margin: 0 10px;
  text-align: left;
  margin-top: 15px;
}

@media only screen and (max-width: 900px) {
  #content {
    max-width: 100%;
    margin: 0;
    padding: 0;
  }
}
#code {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: 0;
}
#code-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#code-msg,
#code-msg h1 {
  text-align: center;
  font-size: 60px;
  line-height: 1.5em;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
  color: white;
  background: #e3cee0;
}
h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  line-height: 1.5em;
  padding: 35px;
  margin: 0;
  grid-column: 2/3;
  grid-row: 1/2;
  color: black;
}
#code-msg h4 {
  text-align: center;
  font-size: 22px;
  line-height: 1.5em;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
  color: white;
}
#code-img {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
main.web-grid {
  display: grid;
  grid-template-columns: repeat (5, 1fr);
  grid-template-rows: 1fr 1fr;
  height: auto;
  gap: 20px;
}
.web-wwr-img {
  grid-column: 2/3;
  grid-row: 1 / span 2;
  justify-self: center;
  align-self: center;
  width: 100%;
  max-width: 100%;
}
.svg-img {
  grid-column: 2/3;
  grid-row: 3 / span 2;
  justify-self: center;
  align-self: center;
  width: 100%;
  max-width: 100%;
}
#computer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: 0;
}
#computer-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#computer-msg,
#computer-msg h1 {
  text-align: center;
  font-size: 60px;
  line-height: 1.5em;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
  color: white;
  background: #e3cee0;
}
#computer-msg h4 {
  text-align: center;
  font-size: 22px;
  line-height: 1.5em;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
  color: white;
}
#computer-img {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
