#hero {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: 0;
}
#hero-box {
  grid-column: 1/4;
  grid-row: 1/3;
  z-index: -1;
}
#hero-msg,
#hero-msg h1 {
  text-align: center;
  font-size: 60px;
  line-height: 1.5em;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
  color: white;
}
#hero-msg h4 {
  text-align: center;
  font-size: 22px;
  line-height: 1.5em;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 100px;
  color: white;
}
#hero-img {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
